1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 11000 and 2000 (both included).

In [6]:
#please enter your answer below this line
lst = [i  for i in range(1100,  2001) if (i%7==0 and i%11==0)]
print(lst)

[1155, 1232, 1309, 1386, 1463, 1540, 1617, 1694, 1771, 1848, 1925]

2. Write a program to print this pattern

           #
          ## 
         ###

In [24]:
print("  #")
print(" ##")
print("###")

  #
 ##
###

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [16]:
lst=['apple', 'orange', 'apple', 'banana']
for i in range(len(lst)):
  if lst[i]=='apple':
    lst[i]='grape'
print(lst)

['grape', 'orange', 'grape', 'banana']