1. Given index=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"] and data=[1,3,5,np.nan,6,8] . Create a table with the "index" as indices and data as values.

      Expected output

        India         1.0
        Pakistan      3.0
        Bangladesh    5.0
        Srilanka      NaN
        China         6.0
        Nepal         8.0
        Name: myseries, dtype: float64

In [5]:
#please type your answer below this line.
import numpy as np
import pandas as pd

index=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"]

data = np.array([1,3,5,np.nan,6,8])

df = pd.DataFrame(data = data, 
                index = index,)
print(df)
print("Name: myseries, dtype: float64")

              0
India       1.0
Pakistan    3.0
Bangladesh  5.0
Srilanka    NaN
china       6.0
Nepal       8.0
Name: myseries, dtype: float64

2. Create a data 'dates' starting from 2021-01-01 with range 6. and create a random 6x4 array and a list=('ABCD').now create a dataframe with 'dates' as index and list as the column and data as the datas of this table.


  Expected output

                        A	       B	      C	      D
    2021-01-01	-0.429358	0.779826	0.389625	0.248792
    2021-01-02	-1.044721	0.272807	-0.370437	1.177273
    2021-01-03	-0.961394	-0.525376	0.120843	0.470060
    2021-01-04	1.842266	-0.551049	0.588390	-0.326937
    2021-01-05	0.986198	0.391301	-0.084837	-0.855573
    2021-01-06	-1.531207	0.905463	-0.099024	0.589219

In [7]:
#please type 
import numpy as np
import pandas as pd

dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
print(df)

                   A         B         C         D
2021-01-01  0.837551  0.036155  1.875109  0.302912
2021-01-02 -1.746176  2.226156 -0.521127 -1.708389
2021-01-03  0.049321  0.138877 -0.200857 -0.222196
2021-01-04  0.755501 -0.167329 -0.891136 -0.596980
2021-01-05  0.716061 -0.122876  0.838184 -1.398419
2021-01-06  1.576612  0.292373  0.387054 -0.799225