1.Given a list l=[23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]

Write a single line program to display.

a) elements at even index in the list.

b) remove the 3 middle elements (45, 22 and 56)

In [ ]:
l=[23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]

# elements at even index in the list.
even = [print(l[i]) for i in range(len(l)) if i%2==0]

In [79]:
# remove the 3 middle elements (45, 22 and 56)
lst=[23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]
half = len(lst)/2
l = [lst.pop(int(half)-1) for i in range(3)]

print(lst)

[23, 45, 25, 78, 90, 99, 12, 9, 75, 32]

2.Given a list lowerCase=['a', 'e', 'i', 'o', 'u']
Create a new list upperCase using list comprehension and copy the content of the lowerCase list, but in uppercase (capital letters). (upperCase should be ['A', 'E', 'I', 'O', 'U'])

In [55]:
lowerCase=['a', 'e', 'i', 'o', 'u']
up = [i.upper() for i in lowerCase]
print(up)

['A', 'E', 'I', 'O', 'U']

3.Given a tuple fruits = ("banana", "cherry", "apple", "grapes")
Create 3 variables yellow, red and green and assign them with fruits of their respective color.
(yellow="banana", red=["cherry", "apple"], green="grapes (hint- Use unpacking)

In [84]:
fruits = ("banana", "cherry", "apple", "grapes")
(yellow, *red, green) = fruits
print(f"yellow={yellow}")
print(f"red={red}")
print(f"green={green}")

yellow=banana
red=['cherry', 'apple']
green=grapes