1.  Using the dataset given below,
  - Group the given dataset by A and find the sum of the groups.
  - Find the 3 least elements from the column D
  - Find the 3 largest elements from the Column D which belongs to the group
  'bar'.

In [15]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df
#please type your code below this line.
grouped = df.groupby('A')
grouped.sum()

df.nsmallest(3, ['D'])
df.nlargest(3, ['D'])

            C         D
A
bar  1.770696  3.195814
foo  2.953711  1.825206

2. Using the dataset given below,
  - convert the dataset into a csv file.
  - read the csv file just saved
  - covert the dataset into a excel file.
  - read the excel file just saved.

In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
#please type your code below this line.
df.to_csv('file2.csv', header=False, index=False)
dd = pd.read_csv('/content/file2.csv')
print(dd)
df.to_excel('file.xlsx')
d2 = pd.read_excel('/content/file.xlsx')
print(d2)

   foo    one  0.0724251160586291  2.51094219879073
0  bar    one           -0.725780         -0.759734
1  foo    two            0.825464          0.875081
2  bar  three            1.255240          0.791039
3  foo    two            1.072267         -0.283581
4  bar    two            0.755982         -2.282948
5  foo    one           -0.337897         -0.391657
6  foo  three           -0.403011          1.970633
   Unnamed: 0    A      B         C         D
0           0  foo    one  0.072425  2.510942
1           1  bar    one -0.725780 -0.759734
2           2  foo    two  0.825464  0.875081
3           3  bar  three  1.255240  0.791039
4           4  foo    two  1.072267 -0.283581
5           5  bar    two  0.755982 -2.282948
6           6  foo    one -0.337897 -0.391657
7           7  foo  three -0.403011  1.970633